@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('/static/fonts/RobotoMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('/static/fonts/RobotoMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.main-text {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #8e9297;
}

.link-text,
.header-text {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.x-large {
    font-size: 3rem;
}

.large {
    font-size: 2.625rem;
}

.big {
    font-size: 2.25rem;
}

.medium {
    font-size: 1.625rem;
}

.small {
    font-size: 0.875rem;
}